


.profileContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .profileContent, .profileInfo {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .profileItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;

    span {
      flex: 1 1 0;
      display: flex;
      justify-content: flex-start;
      margin: 5px;
    }

    .label {
      display: flex;
      justify-content: flex-end;
      margin-right: 5px;
    }
  }

  .profileActions {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto;
  }
  .profileFailBtn {
    width: 10rem;
    cursor: pointer;
    border-radius: .3rem;
    border: 1px solid #aaaaaa;
    background: transparent;
    color: #aaaaaa;
  }
}
